<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.modelexecution.fuml.extlib.ui.launch.ActivityLaunchDelegate"
            delegateDescription="The fUML Activity Launcher supports running fUML Activities or any other elements for which an activity provider is registered."
            delegateName="fUML Activiy Launcher"
            id="org.modelexecution.extlib.plugin.launchConfigurationType"
            modes="run, debug"
            name="fUML Extlib Activity"
            sourceLocatorId="org.modelexecution.fumldebug.debugger.sourceLocator"
            sourcePathComputerId="org.modelexecution.fumldebug.debugger.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.modelexecution.extlib.plugin.launchConfigurationType"
            icon="icons/ActivityLaunch.png"
            id="org.modelexecution.fumldebug.extlib.plugin.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.modelexecution.fuml.extlib.ui.launch.ActivityLaunchConfigurationTabGroup"
            id="org.modelexecution.extlib.plugin.launchConfigurationTabGroup"
            type="org.modelexecution.extlib.plugin.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.modelexecution.fuml.extlib.process.ActivityProcessFactory"
            id="org.modelexecution.fuml.extlib.activityProcessFactory">
      </processFactory>
   </extension>   

</plugin>
