# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_Store

external-library-support-fuml-test/models/modelsAccessingAnExternalLibrary/VehiclesConverted.uml
external-library-support-fuml-test/debug/debug.out

external-library-support-fuml-gui/

external-library-support-fuml-test/debug.out

external-library-support-fuml-test/models/modelsAccessingAnExternalLibrary/VehiclesConverted.uml

external-library-support-fuml-test/models/DatabaseCaseStudy/mongo-java-driver-2.10.1Converted.uml

external-library-support-fuml-test/models/MailCaseStudy/commons-email-1.3.1Converted.uml

external-library-support-fuml-test/models/PetstoreCaseStudy/commons-email-1.3.1Converted.uml
external-library-support-fuml-test/models/databaseCaseStudy/mongo-java-driver-2.10.1Converted.uml

external-library-support-fuml-test/models/databaseCaseStudy/mongo-java-driver-2.10.1Converted.uml

external-library-support-fuml-test/models/mailCaseStudy/commons-email-1.3.1Converted.uml

external-library-support-fuml-test/models/mailCaseStudy/commons-email-1.3.1Converted.uml

external-library-support-fuml-test/models/petstoreCaseStudy/commons-email-1.3.1Converted.uml

external-library-support-fuml-test/models/petstoreCaseStudy/commons-email-1.3.1Converted.uml
